pyramid.sublime-workspace
matheus_project/development.ini
matheus_project/production.ini
python_enviroment/
tulio_project/tulio_project/static/personal_images/
tulio_project/tulio_project/*.pyc

# Compiled source #
###################
*.PKG-INFO
*.PKG-INFO
*.SOURCES.txt
*.pyc

