pyramid.sublime-workspace
matheus_project/development.ini
matheus_project/production.ini
python_enviroment/
tulio_project/tulio_project/static/personal_images/
tulio_project/tulio_project/*.pyc

# Compiled source #
###################
*.PKG-INFO
*.PKG-INFO
*.SOURCES.txt
*.pyc
tpv_project/
matheus_project/matheus_project.egg-info/SOURCES.txt
matheus_project/matheus_project/models.pyc
matheus_project/matheus_project/scripts/__init__.pyc
matheus_project/matheus_project/scripts/initializedb.pyc
matheus_project/matheus_project/tests.pyc
